.noMatchFoundRoot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
  }
  
  .messageText {
    font-size: 24px;
    font-weight: bold;
    color: #808080; /* Subtle gray color */
  }
  